.btn-base {
  @apply 
    cursor-pointer 
    rounded-lg 
    transition-colors
    py-3 px-4 my-2;
}

.btn-primary {
  @apply btn-base;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--color-charcoal);
  color: var(--color-white);
}

.btn-reversed {
  @apply btn-base;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-reversed:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-secondary {
  @apply btn-base;
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: var(--color-charcoal);
  color: var(--color-white);
}

.btn-full {
  @apply 
    btn-base
    w-full;
}